body {
}

#members {
  max-width:960px;
  margin:10px auto;
  padding:5px;
  border:0px solid lightgrey;
  text-align:center;
}

#members figure {
  display:inline-block;
  max-width:960px;
  border:0px solid steelblue;
}

#members img {
  display:block;
}
